<ion-view view-title="求助专区" >
  <ion-nav-buttons side="right">
    <a class="button button-positive" href="#/tab/add-help" >发布</a>
  </ion-nav-buttons>
  <ion-content  ng-controller="Helps_Refresh">
    <!-- <ion-refresher> 下拉刷新指令  -->
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh();" spinner="android"></ion-refresher>

    <ion-list class="list-borderless">
      <ion-item ng-repeat="help in helps | orderBy:['status']"  href="#/tab/helps/{{help.id}}">
         <div class="list card">
          <div class="row">
            <div class="col col-80">
              <div class="item item-avatar">
                <img ng-src="http://120.27.97.21/lehelp/{{help.user.avatar}}">
                <h2>{{help.user.nickname}}</h2>
                <p>{{ help.createtime*1000 | date:"MM/dd/yyyy @ h:mma"}}</p>
              </div>
            </div>
            <div class="col col-20">
              <span class="assertive" style="font-size: smaller;border:1px solid #CD0000;" ng-if="help.status=='-1'">待帮助</span>
              <span class="balanced" style="font-size: smaller;border:1px solid #00CD00;" ng-if="help.status=='0'">帮助中</span>
              <span class="positive" style="font-size: smaller;border:1px solid #436EEE;" ng-if="help.status=='1'">已解决</span>
              <br>
              <span class="assertive"><img ng-src="img/coins.png" style="width: 12px;height: 12px;">{{help.coins}}</span>
            </div>
          </div>

          <div class="item item-body">
            <!--<img class="full-image" src="img/bike.jpg" ng-if="help.image">-->
            <img class="full-image" ng-src="http://120.27.97.21/lehelp/{{help.image}}" ng-if="help.image">
            <p>
              {{help.detail}}
            </p>
            <p>
              <a class="icon ion-chatbox-working subdued"></a>
            </p>
          </div>

        </div>

      </ion-item>
    </ion-list>

    <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
    <ion-infinite-scroll ng-if="hasmore" on-infinite="loadMore();" spinner="android" distance="5%"></ion-infinite-scroll>
  </ion-content>
</ion-view>



