<ion-view view-title="求助专区" >
  <ion-nav-buttons side="right">
    <a class="button" href="#/tab/add-help" >发布</a>
  </ion-nav-buttons>
  <ion-content>

    <ion-list class="list-borderless">

      <ion-item ng-repeat="help in helps | orderBy:['status','createtime']"  href="#/tab/helps/{{help.id}}">
      <!--<ion-item ng-repeat="help in helps "  href="#/tab/helps/{{help.id}}">-->


         <div class="list card">

          <div class="row">
            <div class="col col-80">
              <div class="item item-avatar">
                <img src="img/mike.png">   <!--模拟代码测试-->
                <h2>{{help.user.nickname}}</h2>
                <p>{{help.createtime}}</p>
              </div>
            </div>
            <div class="col col-20">
              <span class="assertive" style="font-size: smaller;border:1px solid #CD0000;" ng-if="help.status=='-1'">待帮助</span>
              <span class="balanced" style="font-size: smaller;border:1px solid #00CD00;" ng-if="help.status=='0'">帮助中</span>
              <span class="positive" style="font-size: smaller;border:1px solid #436EEE;" ng-if="help.status=='1'">已解决</span>
            </div>
          </div>

          <div class="item item-body">
            <!--<img class="full-image" src="img/bike.jpg" ng-if="help.image">-->
            <img class="full-image" src="img/bike.jpg" ng-if="help.image">   <!--模拟代码测试-->
            <p>
              {{help.detail}}
            </p>
            <p>
              <a class="icon ion-chatbox-working subdued"></a>
            </p>
          </div>

        </div>

      </ion-item>
    </ion-list>

    <!--{{d}}-->

  </ion-content>
</ion-view>



