<ion-view view-title="修改求助"  hide-tabs="true">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="updateHelp();">发布</button>
  </ion-nav-buttons>
  <ion-pane>
    <ion-content>
      <div class="item-input">
        <textarea style="width:100%;maxlength:200" required rows="10" placeholder="请输入求助内容" id="detail" >{{oldhelp.detail}}</textarea>
      </div>

      <div class="item item-divider">
        <select class="item item-select" id='usecoins' ng-change="test(x)" ng-model="x">
          <option value="" selected = "selected">----请选择悬赏币----</option>
          <option value='0' >0</option>
          <option value="10">10</option>
          <option value='20'>20</option>
          <option value='30'>30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
        <span id='yue' class="assertive">余额：{{currentuser.coins}}</span>
      </div>

      <div class="padding">
        <a class="button button-block  button-positive" >拍摄</a>
        <a class="button button-block  button-positive" >相册</a>
        <a class="button button-block  button-positive" >上传</a>
      </div>

    </ion-content>
  </ion-pane>
</ion-view>
