<ion-view view-title="二手详情"  hide-tabs="true">
  <ion-content>
    <ion-item class="card ">
      <div class="list list-borderless">
        <div class="item item-avatar-left">
          <img ng-src="{{secondhand.user.avatar}}">
          <h2>{{secondhand.user.username}}</h2>
          <h5>{{secondhand.createtime}}</h5>
        </div>
        <div class="item">
          <p>{{secondhand.detail}}</p>
        </div>
        <div class="item item-image" ng-if="secondhand.image">
          <img src="{{secondhand.image}}">
        </div>
      </div>
    </ion-item>
  </ion-content>

</ion-view>
