<ion-view view-title="二手专区" >
  <ion-nav-buttons side="right">
    <a class="button button-positive" href="#/tab/add-secondhand" >发布</a>
  </ion-nav-buttons>
  <ion-content ng-controller="Secondhands_Refresh">
    <!-- <ion-refresher> 下拉刷新指令  -->
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh();" spinner="android"></ion-refresher>
    <ion-list class="list-borderless">

      <ion-item ng-repeat="secondhand in secondhands"  href="#/tab/secondhands/{{secondhand.id}}">

        <div class="list card">
          <div class="row">
            <div class="col col-80">
              <div class="item item-avatar">
                <img ng-src="http://120.27.97.21/lehelp/{{secondhand.user.avatar}}">
                <h2>{{secondhand.user.nickname}}</h2>
                <p>{{secondhand.createtime*1000 | date:"MM/dd/yyyy @ h:mma"}}</p>
              </div>
            </div>
            <div class="col col-20">
              <span class="assertive" style="font-size: smaller;border:1px solid #CD0000;" ng-if="secondhand.flag==0">想要</span>
              <span class="positive" style="font-size: smaller;border:1px solid #436EEE;" ng-if="secondhand.flag==1">我有</span>
              <br>
              <span class="subdued" style="font-size: smaller;border:1px solid #838B8B;" ng-if="secondhand.status==1">已下架</span>
            </div>
          </div>

          <div class="item item-body">
            <img class="full-image" ng-src="http://120.27.97.21/lehelp/{{secondhand.image}}" ng-if="secondhand.image">
            <p>
              {{secondhand.detail}}
            </p>
          </div>
        </div>

      </ion-item>

    </ion-list>
    <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
    <ion-infinite-scroll ng-if="hasmore" on-infinite="loadMore();" distance="5%" spinner="android"></ion-infinite-scroll>
  </ion-content>
</ion-view>



