<ion-view view-title="我的帮助"  hide-tabs="true" >
  <ion-content>
    <ion-list class="list-borderless">
      <ion-item ng-repeat="help in helps | orderBy:['status','createtime']" type="item-text-wrap" class="card" href="#/tab/myhelps/{{help.id}}">
      <!--<ion-item ng-repeat="help in helps | filter:help.status==false | orderBy:'time'"  class="card" href="#/tab/myhelps/{{help.id}}">-->
        <!--{{help.userId}}-->
        <!--{{user.userId}}-->
        <div class="row">
          <div class="col col-90">
            <div class="item item-avatar-left">
              <img ng-src="{{help.user.avatar}}">
              <h2>{{help.user.username}}</h2>
              <h5>{{help.createtime}}</h5>
            </div>
          </div>
          <div class="col col-10">
            <span class="assertive" style="font-size: smaller;border:1px solid #CD0000;" ng-if="help.status==false">待帮助</span>
            <span class="positive" style="font-size: smaller;border:1px solid #436EEE;" ng-if="help.status==true">已解决</span>
          </div>
        </div>

        <div class="item">
          <p >{{help.detail}}</p>
        </div>

        <div class="item item-image" ng-if="help.image">
          <img ng-src="{{help.image}}">
          <a class="icon ion-chatbox-working dark"></a>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>



