<ion-view view-title="帮助详情"  hide-tabs="true">
  <ion-nav-buttons side="right">
    <a class="button" ng-click="show1(help.id);" ng-if="(help.status=='-1')&&(help.userid==currentuser.id)">···</a>
    <a class="button" ng-click="show2(help.id);" ng-if="(help.status=='0')&&(help.userid==currentuser.id)">···</a>
    <a class="button" ng-click="show3(help.id);" ng-if="(help.status=='1')&&(help.userid==currentuser.id)">···</a>
  </ion-nav-buttons>

    <ion-content ng-controller="MyHelpDetail_Refresh">
      <!-- <ion-refresher> 下拉刷新指令  -->
      <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh();" spinner="android"></ion-refresher>
      <div class="list card">
        <div class="item item-avatar">
          <img ng-src="http://120.27.97.21/lehelp/{{help.user.avatar}}">
          <h2>{{help.user.nickname}}</h2>
          <p>{{help.createtime*1000 | date:"MM/dd/yyyy @ h:mma"}}</p>
        </div>

        <div class="item item-body">
          <img class="full-image" ng-src="http://120.27.97.21/lehelp/{{help.image}}"  ng-if="help.image">
          <p>
            {{help.detail}}
          </p>
        </div>
      </div>

      <div class="item item-input" ng-if="show_1" >
        <input class="" type="text" id="detail_1">
        <button class="button button-positive button-small" ng-click="submitComment(help.id,help.userid);">评论</button>
      </div>

      <div class="item item-input" ng-if="show_2">
        <input class="" type="text" id="detail_2" placeholder="回复：{{replyto.commenternickname}}">
        <button class="button button-positive button-small" ng-click="submitComment(help.id,replyto.commenterid);">评论</button>
      </div>

      <div class="list list-inset list-borderless" ng-repeat="comment in comments">
        <div class="item item-body" ng-click="showOrHide(comment.commenter.id,comment.commenter.nickname);">
          <p>{{comment.commenter.nickname}}&nbsp;评论&nbsp;{{comment.user.nickname}}&nbsp;:&nbsp;{{comment.detail}}</p>
        </div>
      </div>
    </ion-content>


</ion-view>
