<ion-view view-title="二手详情"  hide-tabs="true">
  <ion-nav-buttons side="right">
    <a class="button" ng-click="show(secondhand.id);">···</a>
  </ion-nav-buttons>
  <ion-content>
    <ion-item class="card ">
      <div class="list list-borderless">
        <div class="item item-avatar-left">
          <!--<img ng-src="{{secondhand.user.avatar}}">-->
          <img ng-src="img/mike.png">
          <h2>{{secondhand.user.username}}</h2>
          <h5>{{secondhand.createtime}}</h5>
        </div>
        <div class="item">
          <p>{{secondhand.detail}}</p>
        </div>
        <div class="item item-image">
          <img src="img/bike.jpg" ng-if="secondhand.image">
          <!--<img src="{{secondhand.image}}" ng-if="secondhand.image">-->
        </div>
      </div>
    </ion-item>
  </ion-content>

</ion-view>
