<!--<ion-view view-title="帮助详情"  hide-tabs="true">-->
  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button" ng-click="helpHim()" ng-if="(!help.helperId) && (help.user.id!=currentuser.id)">帮他</button>-->
    <!--&lt;!&ndash;<button class="button" ng-click="helpOrcancel()" ng-if="(help.helperId==currentuser.id) && (help.status==0)">撤销</button>&ndash;&gt;-->
  <!--</ion-nav-buttons>-->

  <!--<ion-content>-->
      <!--<ion-item class="card ">-->
        <!--<div class="list list-borderless">-->
          <!--<div class="item item-avatar-left">-->
            <!--&lt;!&ndash;<img ng-src="{{help.user.avatar}}">&ndash;&gt;-->
            <!--<img ng-src="img/mike.png">-->
            <!--<h2>{{help.user.username}}</h2>-->
            <!--<h5>{{help.createtime}}</h5>-->
          <!--</div>-->
          <!--<div class="item">-->
            <!--<p>{{help.detail}}</p>-->
          <!--</div>-->
          <!--<div class="item item-image" ng-if="help.image">-->
            <!--&lt;!&ndash;<img ng-src="{{help.image}}">&ndash;&gt;-->
            <!--<img ng-src="img/bike.jpg">-->
            <!--<a class="icon ion-chatbox-working dark"></a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</ion-item>-->
  <!--</ion-content>-->

<!--</ion-view>-->
<ion-view view-title="帮助详情"  hide-tabs="true">
  <ion-nav-buttons side="right">
    <button class="button button-positive" ng-click="helpHim(help.id,currentuser.id)" ng-if="(help.status=='-1') && (help.user.id!=currentuser.id)">帮他</button>
    <!--<button class="button" ng-click="helpOrcancel()" ng-if="(help.helperId==currentuser.id) && (help.status==0)">撤销</button>-->
  </ion-nav-buttons>

  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/mike.png">     <!--模拟代码测试-->
        <h2>{{help.user.nickname}}</h2>
        <p>{{help.createtime}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/bike.jpg" ng-if="help.image">  <!--模拟代码测试-->
        <p>
          {{help.detail}}
        </p>
      </div>
    </div>


    <div>
      <ion-list>
        <ion-item>

        </ion-item>
      </ion-list>
    </div>

    <div class="item item-input" id="comment">
      <input class="" type="text">
      <button class="button button-positive button-small">评论</button>
    </div>
  </ion-content>

</ion-view>
